# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.venv/

# Django
db.sqlite3
*.log
staticfiles/
media/
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# documentations
BACKEND_EXECUTION_PLAN.md
